body
{
  background: #4CB8C4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  padding: 0;
}
h1
{
  color:#FFFFFF;
  font-family:cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding-top: 10px;
  text-align: center;
  font-size: 45px;
}

p
{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input[type=text]
{
  border:2px solid black;
  border-radius:4px;

  padding-bottom: 5px;
  padding-top: 5px;
  padding: 5px;
}

input[type=email]
{
  border:2px solid black;
  border-radius:4px;

  padding-bottom: 5px;
  padding-top: 5px;
}

input[type=password]
{
  border:2px solid black;
  border-radius:4px;

  padding-bottom: 5px;
  padding-top: 5px;
}

input[type=submit]
{
  background-color:black;
  font-family:cursive;
  font-size: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 10px;

  color:#F8F8FF;
}

label
{
  font-family:cursive;
  color:#F8F8FF;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2
{
  font-family:cursive;
  color:black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

button
{
  background-color:black;
  font-family:cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color:#F8F8FF;
}

fieldset
{
  border-width:20px;
  border-style: ridge;
  border-color:black;
  margin:auto;
}

footer
{
  font-size:85%;
  font-style:italic;
  font-family:georgia;
  text-align:center;
  padding-top: 255px;
  padding-bottom: 25px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/* Creating 3 equal Columns */
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Login Page */
.login-page
{
  text-align: center;
}

.login-page h1
{
  color:#F8F8FF;
  font-family:cursive;
}

.login-page a
{
  color: blue;
  text-shadow: none;
}

.login-page .form-group
{
  width: 50%;
}

.login-page .form-group input
{
  width: 100%;
}

.field
{
  width: 50%;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
}

.button
{
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-img
{
  padding-top: 20px;
  padding-bottom: 40px;
}
/* Register Page */
.register-page
{
  text-align: center;
}

.register-page h1
{
  color:#F8F8FF;
  font-family:cursive;
}

.register-page a
{
  color: blue;
  text-shadow: none;
}

.register-page .form-group
{
  width: 50%;
}

.register-page .form-group input
{
  width: 100%;
}

.images
{
  position:relative;
  display:inline-block;
}

.images p
{
  position:relative;
  width:100;
  text-align:center;
  left:0;
  color:black;
  font-family:cursive;
}

/* Header */
.header
{
  width: 100%;
  height: 80px;
  display: block;
}

.inner_header
{
  width: 100%;
  height: 100%;
  display: auto;
  margin: 0 auto;
}

.logo_container
{
  height: 100%;
  float: left;
  padding-left: 20px;
}

.logo_container h1
{
  color: white;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  font-size: 32px;
}

.logo_container a
{
  text-decoration: none;
}

.navigation
{
  float: right;
  height: 100%;
  padding-right: 20px;
}

.dropdown
{
  float:left;
  overflow: hidden;
}

.dropdown .dropbtn
{
  font-size: 40px;
  border:none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a
{
  float:none;
  color:black;
  padding: 12px 16px;
  display:block;
  text-align:center;
  border-style:double;
  text-decoration: none;
}

.dropdown:hover .dropbtn
{
  background-color:black;
}
.dropdown:hover .dropdown-content
{
  display: block;
}



/* Home Page */
.home-page
{
  text-align: center;
  margin: 0;
}

.home-page a
{
  text-decoration: none;
}

.home-page h1
{
  font-size: 60px;
  padding-top: 35px;
  margin: 0;
}

.home-page h2
{
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

.wallpaper
{
  background: black;
  padding: 0;
  margin: 0;
}

.home-picture
{
  max-width: 100%;
  opacity: .3;
}

.wallpaper
{
  position: relative;
  width: 100%;
}

.wallpaper .btn
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.wallpaper .btn:hover
{
  background-color: black;
}

.wallpaper .btn a
{
  color: white;
}

.home-page .row h1
{
  font-size: 35px;
  padding-bottom: 30px;
}

.home-page .row
{
  padding-top: 60px;
}


/* Create Survey Page */
.create
{
  background: seagreen;
  width: 80%;
  text-align: center;
  border-style: double;
  border-width: 5px;
}

.createsurvey-page input[type=date]
{
  border:2px solid black;
  border-radius:4px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  padding: 5px;
}

.createsurvey-page input[type=text]
{
  width: 100%;
}

.textbox
{
  border:2px solid black;
  border-radius:4px;
  width: 100%;
  padding: 5px;
}

.form-group
{
  width: 70%;
  margin: auto;
  padding: 0;
}

.form-group label
{
  font-size: 20px;
}

.charNum
{
  color: white;
  font-family:cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

/* Recipients Page */
.table
{
  width: 100%;
}

.table button
{
  float: right;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}

.recipients label
{
  font-size: 25px;
}

.account-page .btn:hover
{
  background-color: darkred;
}

.account-page .btn a
{
  color: white;
  text-decoration: none;
}

.red-btn
{
  padding-top: 80px;
}

#myInput {
  background-image: url('https://image.flaticon.com/icons/svg/751/751463.svg');
  background-size: 30px;
  background-position: 9px 7px;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  background: white;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th
{
  background-color: #f1f1f1;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

/* Survey */
.box
{
  background: seagreen;
  max-width: 70%;
  margin: auto;
  border-radius: 4px;
  border: 3px double black;
}

.survey-page
{
  text-align: center;
  margin: 0;
}

.survey-page textarea
{
  border:2px;
  border-color: black;
  border-style: solid;
  border-radius:4px;
  width: 100%;
  padding: 10px;
}

.survey-page h1
{
  font-size: 55px;
}

.survey-page h2
{
  padding-top: 30px;
  font-size: 30px;
  color:#FFFFFF;
  font-family:cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0;
}

.survey-page p
{
  font-size: 20px;
}

.survey-page .form-group p
{
  font-size: 15px;
  padding: 0;
  margin: 0;
}

input[type=show]
{
  background: none;
  color:#FFFFFF;
  font-family:cursive;
  font-size: 15px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  border: none;
}

.padding-bottom
{
  padding-bottom: 20px;
}